.links-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: 50px;
}

.dynamic-link {
  text-align: center;
  background-color: #126a8a;
}

table { border-collapse: collapse; }
tr:nth-child(even) { background-color: #f2f2f2; }

td {
  height: 50px;
  padding-top: .5em;
  padding-bottom: .5em;
  border: #000900 1px;
}

th {
  color: #000900;
  background-color: #24b324;
  height: 50px;
}

.row-data {
  text-align: center;
}