.links-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 90%;
  box-shadow: 0 0 20px;
  margin-left: 50px;
}

.actions-activate {
  border-radius: 10px;
  background-color: #04374629;
}

.actions-disable {
  border-radius: 10px;
  background-color: #e14c0c29;
}

.dynamic-link {
  text-align: center;
  background-color: #3d8eac;
}

table { border-collapse: collapse; }
tr:nth-child(even) { background-color: #f2f2f2; }

td {
  height: 50px;
  padding-top: .5em;
  padding-bottom: .5em;
  border: #000900 1px;
}

th {
  background-color: #24b324;
  height: 50px;
}

.row-data {
  text-align: center;
}