table {
  border-collapse: collapse;
}

.links-table {
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 90%;
  box-shadow: 0 0 20px;
  margin-left: 50px;
}

.invalid {
  background-color: #e4650429;
}

.actions-activate {
  border-radius: 10px;
  background-color: #a5e6a5;
}

.actions-disable {
  border-radius: 10px;
  background-color: #fd8585;
}

.dynamic-link {
  text-align: center;
  background-color: #3d8eac;
}

td {
  height: 50px;
  border-top: 2px solid #f9f6f6;
  padding: 0.5rem;
}

th {
  background-color: #24b324;
  height: 50px;
  border-top: 1px solid rgb(24, 23, 23);
  padding: 0.5rem;
}

.row-data {
  text-align: center;
}