<%= javascript_include_tag 'actions' %>
<%= stylesheet_link_tag 'actions' %>
<h1 class="dynamic-link">
Dynamic Links
</h1>
<table class='links-table'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Link</th>
      <th>About</th>
      <th>Expires At</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <%= create_row(link) %>
    <% end %>
  </tbody>
</table>
